*{
    margin: 0px;
    padding: 0px;
    /* background-color: #bdbebd; */
}
body{
    background-color: #bdbebd;
}
.title{
    height: auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
}
.bg{
    width: 900px;
    height: 750px;
    /* background-color: #ccc; */
    margin: 0px auto;
    position: relative;
}
.content{
    width: 800px;
    background-color: #fff;
    position: absolute;
    top: 50px;
    left: 50px;
}
table{
    width: 100%;
    font-size: 18px;
    padding-top: 10px;
    border-collapse: collapse;
    background-color: #fff;
}
th,td{
    height: 30px;
    border: 2px solid #ccc;
    text-align: center;
}
.one{
    position: relative;
}
.one>img{
    position: absolute;
    top: 0px;
    transform: rotateX(-180deg);
}
.two{
    position: relative;
}
.two>img{
    position: absolute;
    top: 0px;
}