*{
    margin: 0px;
    padding: 0px;
    background-color: #bdbebd;
}
.title{
    height: auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
}
.bg{
    width: 900px;
    height: 750px;
    /* background-color: #ccc; */
    margin: 0px auto;
    position: relative;
}
.content_bg{
    width: 300px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    margin: 100px 300px;
}
.img_bg{
    width: 260px;
    height: 230px;
    background-color: #ccc;
    margin: 20px 20px;
    position: relative;
}
.one{
    width: 70px;
    height: 70px;
    top: 70px;
    left: 25px;
    position: absolute;
}
.two{
    top: 70px;
    right: 40px;
    position: absolute;
}
.four{
    top: 70px;
    right: 40px;
    position: absolute;
}
.three{
    width: 70px;
    height: 70px;
    top: 70px;
    left: 25px;
    position: absolute;
}
.cold{
    width: 105px;
    height: 50px;
    background-color: #ccc;
    margin: 15px 20px;
    font-weight: bold;
    font-size: 18px;
}
.warm{
    width: 105px;
    height: 50px;
    background-color: #ccc;
    margin: 15px 20px;
    font-weight: bold;
    font-size: 18px;
}
.switch{
    width: 105px;
    height: 50px;
    background-color: #ccc;
    margin: 30px 90px;
}